* text=auto eol=lf

*.py text eol=lf
*.h text eol=lf
*.cc text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.ps1 text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.txt text eol=lf
*.csv text eol=lf
*.html text eol=lf
*.patch text eol=lf whitespace=-blank-at-eol
*.s4p text eol=lf
*.aedt binary
